:root {
    --base_color: rgba(50, 210, 202, 0.87);
    --secondary_color: rgb(237, 211, 177);
    --font_color: rgba(0, 39, 66, 0.704);
    --font_main: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --box_shadow: rgba(0, 39, 66, 0.326);
}

* {
    box-sizing: border-box; 
    font-family: var(--font_main);
}


/*Body Attributes*/
body {
    margin: 0;
    background-image: linear-gradient(to right top, #002742, #004d6c, #007793, #00a4b2, #32d2ca);
    background-repeat: no-repeat;
    background-size: 100%;
    color: var(--font_color);
}
   
main {
    display: flex;
    min-height: calc(100vh - 40vh);
}
   
main > .wrapper {
    flex: 1;
}
   
main > nav, {
    flex: 0 0 20vw;
}

main > nav {
    order: -1;
}

header, footer, article, nav {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}
   
header, footer, nav {
    background: var(--secondary_color);
}


a, a:visited {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: var(--base_color);
}

a:focus {
    outline: var(--base_color);
    border-color: var(--base_color);
}


/*Header Attributes*/
header h1{
    font-weight: initial;
    margin-top: 20px;
    padding: 7px 0 0 15px;
    width: 75%;
    height: 33%;;
    background-color: var(--base_color);
    box-shadow: 6px 6px var(--box_shadow);
    justify-content: space-around;
}
 

/*Nav Bar Attributes*/
nav {
    margin: 0;
    height: 5%;
    width: 100%;
    display: flex;
    list-style: none;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

nav a::before {
    content:'\00BB';
    color: var(--font_color);
}


/*About Me Attributes*/
#AboutMe {
    padding-left: 2%;
}

.about_me h2 {
    color: var(--secondary_color);
    font-weight: initial;
    font-size: 30px;
    border-bottom: 1px solid var(--secondary_color);
}

.bio {
    position: relative;
    padding: 0px 15px 0px 15px;
    margin: -11% 0 12% 41%;
    background-color: var(--base_color);
    border: 3px solid var(--secondary_color);    
    width: 36%;
}

.bio_photo {
    width: 25%;
    border-radius: 75%;
    margin: 7% 0 3% 22%;
}

p::selection {
    background-color: var(--font_color);
    color: var(--base_color);
}


/*Project Cards Attributes*/
#Projects {
    padding-left: 2%;
    color: var(--secondary_color);
    font-weight: initial;
    font-size: 30px;
    border-bottom: 1px solid var(--secondary_color);
}

.bottom_project_cards * {
    display: inline-block;
}

#seo_rework {
    position: relative;
    width: 26%;
    margin: 8% 0 0 21%;
    background-color: var(--base_color);
    border: 3px solid var(--secondary_color);
    box-shadow: 0px 0px 65px var(--font_color), 0 0 95px var(--secondary_color);
}

#mini_project {
    position: relative;
    width: 26%;
    margin: 8% 0 0 5%;
    background-color: var(--base_color);
    border: 3px solid var(--secondary_color);
    box-shadow: 0px 0px 65px var(--font_color), 0 0 95px var(--secondary_color);
}

#preworkstudyguide {
    position: relative;
    margin: 10% 0 0 20%;
    background-color: var(--base_color);
    border: 3px solid var(--secondary_color);
    box-shadow: 0px 0px 65px var(--font_color), 0 0 95px var(--secondary_color);
    width: 58%;
}

#preworkstudyguide h3 {
    width: 40%;
}

#preworkstudyguide img {
    margin: 0% 0% 0% 2.5%;
    padding: 5% 0.5% 3% 0.5%;
    width: 95%;
    display: flex;
    justify-content: center;
}

.projects_header {
    z-index: 1;
    position: absolute;
    top: -5%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.project_cards h3 {
    margin: 0;
    background-color: var(--secondary_color);
    padding: 5px;
    width: 60%;
    text-align: center;
    font-weight: initial;
}

#projects_header_subtitle {
    font-size: 15px;
    font-weight: 100;
}

.project_cards img {
    margin: 7% 0 0 5%;
    padding: 23px 2.5px 21px 2.5px;
    width: 90%;
    border-radius: 3%;
    opacity: 0.95;
}

.project_cards img:hover {
    opacity: 1;
}


/*Contact/Footer Attributes*/
footer {
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 15%;
}

.contact {
    display: flex;
    font-size: 20px;
    font-weight: 100;
}



/*Media Queries*/

/*tablets*/
@media screen and (max-width: 1105px) {
    header h1 {
        font-size: 27px;    
    }

    .bio_photo {
        width: 40%;
    }

    .bio {
        margin-left: 43%;
    }

    .project_cards h3 {
        font-size: 10px;
    }

    #projects_header_subtitle {
        font-size: 7px;
    }

}

/*phones*/
@media screen and (max-width: 420px) {
    header h1 {
        font-size: 19px;
    }

    nav {
        padding-bottom: 30%;
        text-align: end;
    }

    nav a{
        width: 100%;
    }

    .bio_photo {
        width: 50%;
    }

    .bio {
        margin-left: 60%;
    }

    .bio p {
        font-size: 10px;
    }

    .project_cards, #preworkstudyguide {
        width: 75%;
        margin-left: 15%;
    }

    .project_cards h3 {

        font-size: 7px;
    }

    #projects_header_subtitle {
        font-size: 5px;
    }

}